{% extends 'dashboard.html' %}
{% block nav-back %}
 <li>
                            <a href="{{request.META.HTTP_REFERER}}">
                                <i class="pe-7s-back"></i>
                                &nbsp;Back
                            </a>
                        </li>
{% endblock %}
{% block bodycontent %}
        <div class="content">
            <div class="container-fluid">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Notifications</h4>
                        <p class="category">Here are the list of items that require attention in stock!!!</p>

                    </div>
                    <div class="content">
                        <div class="row">
                            <div class="col-md-4">

                                <div class="alert alert-warning">
                                    <span>Medicines that are likely Out Of Stock!</span>
                                </div>
                            </div>
                            <div class="col-md-4">

                               <a href="/account/notification/expiry/"> <div class="alert alert-danger">
                                     <span>Medicines that are likely to Expire!</span>
                                </div></a>
                            </div>
                            <div class="col-md-4">

                               <a href="/"> <div class="alert alert-success">
                                     <span>Back</span>
                                </div></a>
                            </div>
                        </div>

                        <div class="content table-responsive table-full-width">
                            <h4>{{message}}</h4>
                                <table class="table table-hover table-striped">
                                    <thead>
                                        <th>Itemscode</th>
                                    	<th>Itemsname</th>
                                    	<th>Category</th>
                                    	<th>Expiry date</th>
                                    	<th>Quantity Available</th>
                                        <th>Costprice</th>
                                        <th>Sellprice</th>
                                    </thead>
                                    <tbody>



                                        <tr>
{% for item in amt %}
                                        	<td>{{ item.itemscode.itemscode }}</td>
                                        	<td>{{ item.itemscode.itemsname }}</td>
                                        	<td>{{ item.itemscode.categoryname }}</td>
                                        	<td>{{ item.batchno.expdate }}</td>
                                        	<td>{{ item.batchno.stock }}</td>
                                            <td>{{ item.costprice }}</td>
                                            <td>{{ item.sellprice }}</td>
                                        </tr>

{% endfor %}


                                    </tbody>
                                </table>

                            </div>

                        <br>
                        <br>

                    </div>
                </div>
            </div>
        </div>
{% endblock %}