{% extends 'dashboard.html' %}
{% block head %}
<style>
p.clicker {
    padding-left: 0.8cm;
      padding-bottom: 0.18cm;
}
i.pe-7s-news-paper {
    padding-left: 0.75cm;
}
div.options{
    padding-left: 2.2cm;
    color: white;
}

</style>
{% load staticfiles %}
<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script>
$(document).ready(function(){
$('.options').hide();
    $('.clicker').on('click',function(){
    $(this).next().slideToggle(400);
    $(this).toggleClass('active');

  });
});
</script>
<title>Supervisor: Staff Profile</title>
{% endblock %}
{% block adduser %}
<a class="navbar-brand" href="/supervisorlogin/staff/add/">
    <button type="submit" class="btn btn-default"><i class="pe-7s-add-user"> ADD NEW STAFF </i></button></a>
{% endblock %}
{% block d1 %}
<li >
                    <a href="/supervisorlogin/sales/">
                        <i class="pe-7s-graph"></i>
                        <p>View Sales</p>
                    </a>
                </li>
{% endblock %}
{% block d2 %}

<li class="active">
     <a href="/supervisorlogin/staff/">
                        <i class="pe-7s-user"></i>
                        <p>Staff Profile</p>
                    </a>
                </li>
{% endblock %}
{% block d3 %}
<li><a href="/supervisorlogin/store/">
    <i class="pe-7s-note2"></i>
    <p>Go to Store</p>
    </a>
    </li>


{% endblock %}

{% block d4 %}
 <li>

    <i class="pe-7s-news-paper"></i>
     <p class="clicker">Update Stock</p>
      <div class="options">
     <a href="/supervisorlogin/medicine/add/"><div class="1">ADD NEW DRUG</div></a>
     <a href="/supervisorlogin/medicine/update/"><div class="2">MODIFY EXISTING</div></a>
     <a href="#"><div class="3">DELETE DRUG </div></a></div>
</li>

{% endblock %}
{% block d5 %}
 <li>
                    <a href="/account/notification/">
                        <i class="pe-7s-bell"></i>
                        <p>Notifications</p>
                    </a>
                </li>
{% endblock %}
{% block bodycontent %}
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Staff List</h4>
                                <p class="category">A list of all the staffs</p>
                            </div>
                            <div class="content table-responsive table-full-width">
                               <table class="table table-hover table-striped">
                                    <thead>
                                        <th>FirstName</th>
                                    	<th>LastName</th>
                                    	<th>Address City</th>
                                    	<th>Address District</th>
                                    	<th>Salary</th>
                                        <th>Gender</th>
                                        <th>Sales Point</th>


                                    </thead>
               {% if object_list %}                     <tbody>
                 {% for items in object_list %}
                     <td><a href="{% url 'Staff-detail' items.pk %}">{{ items.first_name }}</a></td>
                                        	<td>{{ items.last_name }}</td>
                                        	<td>{{ items.address_city }}</td>
                                        	<td>{{ items.address_district }}</td>
                                        	<td>{{ items.salary }}</td>
                                            <td>{{ items.Gender }}</td>
                                            <td> </td>
                                        </tr>{% endfor %}
                                    </tbody>
                                </table>
{% else %}
                                <p>There are no staffs in the list</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
{% endblock %}