{% extends 'dashboard.html' %}

{% block head %}
<title>STAFF HOMEPAGE</title>
{% endblock %}
{% block d1 %}
<li>
                    <a href="/stafflogin/store/">
                        <i class="pe-7s-note2"></i>
                        <p>Create Bill</p>
                    </a>
                </li>
{% endblock %}
{% block d2 %}
<!--<li>-->
                    <!--<a href="/stafflogin/createbill/">-->
                        <!--<i class="pe-7s-print"></i>-->
                        <!--<p>Create Bill</p>-->
                    <!--</a>-->
                <!--</li>-->
{% endblock %}
{% block d5 %}
 <li>
                    <a href="/account/notification/">
                        <i class="pe-7s-bell"></i>
                        <p>Notifications</p>
                    </a>
                </li>
{% endblock %}
