{% extends 'staff_home.html' %}
{% block head %}
<style>
p.clicker {
    padding-left: 0.8cm;
      padding-bottom: 0.18cm;
}
i.pe-7s-news-paper {
    padding-left: 0.75cm;
}
div.options{
    padding-left: 2.2cm;
    color: white;
}

</style>
{% load staticfiles %}
<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script>
$(document).ready(function(){
$('.options').hide();
    $('.clicker').on('click',function(){
    $(this).next().slideToggle(400);
    $(this).toggleClass('active');

  });
});
</script>
<title>Staff: Go to Store</title>
{% endblock %}
{% block d1 %}
<li>
                    <a href="/stafflogin/store/">
                        <i class="pe-7s-note2"></i>
                        <p>Create Bill</p>
                    </a>
                </li>
{% endblock %}
{% block d2 %}
<!--<li>-->
                    <!--<a href="/stafflogin/createbill/">-->
                        <!--<i class="pe-7s-print"></i>-->
                        <!--<p>Create Bill</p>-->
                    <!--</a>-->
                <!--</li>-->
{% endblock %}
{% block d5 %}
 <li>
                    <a href="#">
                        <i class="pe-7s-bell"></i>
                        <p>Notifications</p>
                    </a>
                </li>
{% endblock %}

{% block bodycontent %}




        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-20">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Medicine Selection</h4>
                                <p class="category">Select the medicines required...</p>
                            </div>
                            <div class="content table-responsive table-full-width">
                                <table class="table table-hover table-striped">
                                    <thead>
                                    <th></th>

                                        <th>Itemscode</th>
                                    	<th>Itemsname</th>
                                    	<th>Category</th>
                                        <th>Batch No.</th>
                                    	<th>Expiry date</th>
                                    	<th>Quantity Available</th>
                                        <th>Location</th>
                                        <th>Sellprice</th>
                                    </thead>
                                    <tbody>


                                        <form action="{% url 'add-to-bill' %}" method="get">
                                        <tr>

{% for item in amt %}

                                            <td><input type="checkbox" name="selectedmed" value={{item.itemscode.itemscode}} class="btn btn-success"> </td>
                                        	<td>{{ item.itemscode.itemscode }}</td>
                                        	<td>{{ item.itemscode.itemsname }}</td>
                                        	<td>{{ item.itemscode.categoryname }}</td>
                                            <td>{{ item.batchno.batchno }}</td>
                                        	<td>{{ item.batchno.expdate }}</td>
                                        	<td>{{ item.batchno.stock }}</td>
                                            <td>{{ item.itemscode.locationname }}</td>
                                            <td>{{ item.sellprice }}</td>

                                        </tr>


{% endfor %}
<input type="submit" value="submit">
 </form>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>




                </div>
            </div>
        </div>

{% endblock %}